In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('AAPL.csv')

df['Date'] = pd.to_datetime(df['Date'])

df.index = df['Date']
df = df.drop(["Date"], axis=1)

df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400
2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800
2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000
2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700
2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100

In [3]:
#Exponential Moving Average  
ema = ta.EMA(df.Close,15)
df['MA15'] = ema
df = df.fillna(0)
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15
Date,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473

In [5]:
#make MA15 into a series
s = df.iloc[:,6]

# Up trend is 1, No trend is 0, and Down trend is -1
df['Trend'] = s.rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

df.tail()

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend
Date,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1.0
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1.0
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1.0
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1.0
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1.0

In [9]:
#If close > MA15 and MA15 is rising for last 5 days then 1 (Uptrend)
#If close < MA15 and MA15 is declining for last 5 days then -1 (Downtrend)
#If neither are true then 0 (Notrend)
def f(row):
    if row['Close'] > row['MA15'] and row['Trend'] == 1:
        val = 1
    elif row['Close'] < row['MA15'] and row['Trend'] == -1:
        val = -1
    else:
        val = 0
    return val

In [10]:
df['Trend'] = df.apply(f, axis=1)
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend,Trendi
Date,,,,,,,,,
2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400,0.000000,0.0,0
2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800,0.000000,0.0,0
2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000,0.000000,0.0,0
2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700,0.000000,0.0,0
2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100,0.000000,0.0,0
2015-01-29,116.320000,119.190002,115.559998,118.900002,109.247391,84436400,0.000000,0.0,0
2015-01-30,118.400002,120.000000,116.849998,117.160004,107.648643,83745500,0.000000,0.0,0
2015-02-02,118.050003,119.169998,116.080002,118.629997,108.999298,62739100,0.000000,0.0,0
2015-02-03,118.500000,119.089996,117.610001,118.650002,109.017654,51915700,0.000000,0.0,0
2015-02-04,118.500000,120.510002,118.309998,119.559998,109.853806,70149700,0.000000,0.0,0
2015-02-05,120.019997,120.230003,119.250000,119.940002,110.637886,42246200,0.000000,0.0,0
2015-02-06,120.019997,120.250000,118.449997,118.930000,109.706200,43706600,0.000000,0.0,0
2015-02-09,118.550003,119.839996,118.430000,119.720001,110.434944,38889800,0.000000,0.0,0
2015-02-10,120.169998,122.150002,120.160004,122.019997,112.556557,62008500,0.000000,0.0,0
2015-02-11,122.769997,124.919998,122.500000,124.879997,115.194748,73561800,117.421333,1.0,1
2015-02-12,126.059998,127.480003,125.570000,126.459999,116.652199,74474500,118.551167,1.0,1
2015-02-13,127.279999,127.279999,125.650002,127.080002,117.224121,54272200,119.617271,1.0,1
2015-02-17,127.489998,128.880005,126.919998,127.830002,117.915962,63152400,120.643862,1.0,1
2015-02-18,127.629997,128.779999,127.449997,128.720001,118.736946,44891700,121.653380,1.0,1
2015-02-19,128.479996,129.029999,128.330002,128.449997,118.487869,37362400,122.502957,1.0,1
2015-02-20,128.619995,129.500000,128.050003,129.500000,119.456444,48948400,123.377587,1.0,1
2015-02-23,130.020004,133.000000,129.660004,133.000000,122.684975,70974100,124.580389,1.0,1
2015-02-24,132.940002,133.600006,131.169998,132.169998,121.919357,69228100,125.529090,1.0,1
2015-02-25,131.559998,131.600006,128.149994,128.789993,118.801491,74711700,125.936703,1.0,1
2015-02-26,128.789993,130.869995,126.610001,130.419998,120.305084,91287500,126.497115,1.0,1
2015-02-27,130.000000,130.570007,128.240005,128.460007,118.497116,62014800,126.742476,1.0,1
2015-03-02,129.250000,130.279999,128.300003,129.089996,119.078239,48096700,127.035916,1.0,1
2015-03-03,128.960007,129.520004,128.089996,129.360001,119.327293,37816300,127.326427,1.0,1
2015-03-04,129.100006,129.559998,128.320007,128.539993,118.570885,31666300,127.478123,1.0,1
2015-03-05,128.580002,128.750000,125.760002,126.410004,116.606094,56517100,127.344608,1.0,0
...,...,...,...,...,...,...,...,...,...
2019-12-06,267.480011,271.000000,267.299988,270.709991,270.709991,26518900,263.801571,1.0,1
2019-12-09,270.000000,270.799988,264.910004,266.920013,266.920013,32010600,264.191376,1.0,1
2019-12-10,268.600006,270.070007,265.859985,268.480011,268.480011,22605100,264.727456,1.0,1
2019-12-11,268.809998,271.100006,268.500000,270.769989,270.769989,19689200,265.482772,1.0,1
2019-12-12,267.779999,272.559998,267.320007,271.459991,271.459991,34327600,266.229925,1.0,1
2019-12-13,271.459991,275.299988,270.929993,275.149994,275.149994,33396900,267.344933,1.0,1
2019-12-16,277.000000,280.790009,276.980011,279.859985,279.859985,32046500,268.909315,1.0,1
2019-12-17,279.570007,281.769989,278.799988,280.410004,280.410004,28539600,270.346901,1.0,1
2019-12-18,279.799988,281.899994,279.119995,279.739990,279.739990,29007100,271.521037,1.0,1
2019-12-19,279.500000,281.179993,278.950012,280.019989,280.019989,24592300,272.583406,1.0,1
2019-12-20,282.230011,282.649994,278.559998,279.440002,279.440002,68994500,273.440481,1.0,1
2019-12-23,280.529999,284.250000,280.369995,284.000000,284.000000,24643000,274.760420,1.0,1
2019-12-24,284.690002,284.890015,282.920013,284.269989,284.269989,12119700,275.949117,1.0,1
2019-12-26,284.820007,289.980011,284.700012,289.910004,289.910004,23280300,277.694227,1.0,1
2019-12-27,291.119995,293.970001,288.119995,289.799988,289.799988,36566500,279.207448,1.0,1
2019-12-30,289.459991,292.690002,285.220001,291.519989,291.519989,36028600,280.746515,1.0,1
2019-12-31,289.929993,293.679993,289.519989,293.649994,293.649994,25201400,282.359450,1.0,1
2020-01-02,296.239990,300.600006,295.190002,300.350006,300.350006,33870100,284.608270,1.0,1
2020-01-03,297.149994,300.579987,296.500000,297.429993,297.429993,36580700,286.210985,1.0,1
2020-01-06,293.790009,299.959991,292.750000,299.799988,299.799988,29596800,287.909610,1.0,1
2020-01-07,299.839996,300.899994,297.480011,298.390015,298.390015,27218000,289.219661,1.0,1
2020-01-08,297.160004,304.440002,297.160004,303.190002,303.190002,33019800,290.965954,1.0,1
2020-01-09,307.239990,310.429993,306.200012,309.630005,309.630005,42527100,293.298960,1.0,1
2020-01-10,310.600006,312.670013,308.250000,310.329987,310.329987,35161200,295.427838,1.0,1
2020-01-13,311.640015,317.070007,311.149994,316.959991,316.959991,30383000,298.119357,1.0,1
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1.0,1
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1.0,1
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1.0,1
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1.0,1
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1.0,1