In [2]:
# import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta

In [3]:
df = pd.read_csv('AAPL.csv')

df['Date'] = pd.to_datetime(df['Date'])

df.index = df['Date']

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-01-22,2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400
2015-01-23,2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800
2015-01-26,2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000
2015-01-27,2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700
2015-01-28,2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100

In [4]:
df = df.drop(["Date"], axis=1)

In [5]:
#5.1. Step 1: extract technical indicators

#Define Technical Indicators
#_______________________________________________________________________

#Simple Moving Average  
sma = ta.SMA(df.Close,15)
df['MA15'] = sma
df = df.fillna(0)

# RSI
df["RSI"] = ta.RSI(df.Close,14)

# Stochastic K
df["Stoch_K"], df["Stoch_D"] = ta.STOCH(df["High"], df["Low"], df["Close"], fastk_period=14, slowk_period=3, slowk_matype=0, 
                                       slowd_period=3, slowd_matype=0)

# MACD
df['MACD'], df['MACDSignal'], df['MACDHist'] = ta.MACD(df.Close, fastperiod= 12, slowperiod= 26, signalperiod= 9)

# Williams R%
df["WILLR"] = ta.WILLR(df['High'], df['Low'], df['Close'], timeperiod=14) 

#df["WILLR"] = (WILLR - WILLR.min())/(WILLR.max() - WILLR.min())
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR
Date,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024

In [6]:
# 5.2. Step 2: trend analysis using technical indicators

#make MA15 into a series
MA15 = df.iloc[:,6]

# Up trend is 1, No trend is 0, and Down trend is -1
df['Trend'] = MA15.rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

df.tail()
#If close > MA15 and MA15 is rising for last 5 days then 1 (Uptrend)
#If close < MA15 and MA15 is declining for last 5 days then -1 (Downtrend)
#If neither are true then 0 (Notrend)
def f(row):
    if row['Close'] > row['MA15'] and row['Trend'] == 1:
        val = 1
    elif row['Close'] < row['MA15'] and row['Trend'] == -1:
        val = -1
    else:
        val = 0
    return val
df['Trend'] = df.apply(f, axis=1)
df.tail()

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  import sys

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR,Trend
Date,,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597,1
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489,1
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524,1
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770,1
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024,1

In [7]:
#I'm not sure if this is right, I would appreciate it if you double checked my work here

#5.3. Step 3: trading signal generation from trend analysis

Close = df.iloc[:,3]
df["UpTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5 + .5
df["DownTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5

def g(row):
    if row['Trend'] == 1:
        val = row['UpTrend']
    elif row['Trend'] == -1:
        val = row['DownTrend']
    else:
        val = 0
    return val
df['Trade_Signal'] = df.apply(g, axis=1)
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR,Trend,UpTrend,DownTrend,Trade_Signal
Date,,,,,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597,1,0.5,0.0,0.5
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489,1,0.5,0.0,0.5
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524,1,1.0,0.5,1.0
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770,1,1.0,0.5,1.0
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024,1,NaN,NaN,NaN

In [41]:
# df.count

In [43]:
#What do I use for the target Column? and should I fill null values with 0?

#I added .tail(n=Length - 17) to omit values where the indicators = 0 since the machine learning agorithm trains on the values 
#of the indicator values and the Stock_K/D indicators require 17 previous close prices to calculate.
Length = df.shape[0]

# df2 = (df[['MA15', 'RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trade_Signal']].tail(n=1242)).copy()

df2 = (df[['MA15', 'RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trade_Signal']].tail(n=Length - 17)).copy()

df2 = df2.fillna(0)

df2.describe()

,MA15,RSI,Stoch_K,Stoch_D,MACD,WILLR,Trade_Signal
count,1241.000000,1241.000000,1241.000000,1241.000000,1241.000000,1241.000000,1241.000000
mean,155.991965,55.746946,60.379380,60.382478,0.942485,-39.622439,0.387913
std,45.063842,13.827458,28.957516,28.218103,3.254679,30.885622,0.412816
min,93.227999,21.024931,0.586542,3.392294,-11.052513,-100.000000,0.000000
25%,116.116667,45.811844,35.087663,34.640090,-0.575418,-67.741853,0.000000
50%,152.930000,56.539717,67.919159,67.820383,1.010995,-32.336559,0.330084
75%,187.194667,65.304248,86.496496,85.993819,2.754122,-11.471061,0.851351
max,306.387331,90.402156,99.149279,98.329441,11.402984,-0.000000,1.000000

In [44]:
#5.5. Step 5: network structure creation and training using ELM

#This is where I need the most help, I'm  not sure if I'm using the all the right modules and functions
# and I need the output to fill a column with the output values 0 through 1 so I can move to-
# Step 6: trend determination from output trading signal

target_column = ['Trade_Signal'] 
predictors = list(set(list(df2.columns))-set(target_column))
#line 3 here fufills the data normalization of Step 5.4
df2[predictors] = (df2[predictors] - df2[predictors].min())/(df2[predictors].max() - df2[predictors].min())

#df2.describe()
#df2.info()
# df2.head()


df2

,MA15,RSI,Stoch_K,Stoch_D,MACD,WILLR,Trade_Signal
Date,,,,,,,
2015-02-17,0.126913,0.807767,0.956434,0.982306,0.492196,0.922623,0.000000
2015-02-18,0.133037,0.820761,0.971068,0.977231,0.492196,0.987988,1.000000
2015-02-19,0.137146,0.806512,0.963253,0.970830,0.492196,0.955212,0.848312
2015-02-20,0.140461,0.823244,0.989422,0.982246,0.492196,1.000000,1.000000
2015-02-23,0.145415,0.871538,0.993484,0.990003,0.492196,1.000000,0.000000
2015-02-24,0.149650,0.827294,0.977001,0.994761,0.492196,0.906474,0.500000
2015-02-25,0.152822,0.667042,0.869769,0.953354,0.492196,0.682926,0.500000
2015-02-26,0.156218,0.699364,0.798875,0.886007,0.492196,0.790375,0.741125
2015-02-27,0.158883,0.617604,0.715916,0.795654,0.492196,0.661174,0.500000
2015-03-02,0.162060,0.631902,0.709662,0.740247,0.492196,0.664434,0.000000
2015-03-03,0.165075,0.638240,0.651372,0.689202,0.492196,0.618018,1.000000
2015-03-04,0.167114,0.601227,0.552852,0.632771,0.492196,0.369862,0.000000
2015-03-05,0.167593,0.511618,0.360475,0.511930,0.492196,0.095598,0.000000
2015-03-06,0.167637,0.517527,0.187700,0.351471,0.492196,0.107142,0.000000
2015-03-09,0.167655,0.534942,0.144985,0.210323,0.492196,0.243560,0.000000
2015-03-10,0.166617,0.427460,0.137156,0.133041,0.492196,0.072449,0.000000
2015-03-11,0.164590,0.349644,0.104748,0.104334,0.602144,0.011314,0.000000
2015-03-12,0.163339,0.428879,0.102052,0.089477,0.586051,0.235589,0.486783
2015-03-13,0.161491,0.399309,0.132927,0.088013,0.569318,0.163742,0.305430
2015-03-16,0.158973,0.446884,0.241719,0.135414,0.560160,0.332999,0.000000
2015-03-17,0.157369,0.513458,0.360056,0.224699,0.559636,0.585498,0.000000
2015-03-18,0.157269,0.554853,0.563432,0.373681,0.563536,0.765100,0.000000
2015-03-19,0.156356,0.515254,0.680316,0.525464,0.562333,0.678613,0.000000
2015-03-20,0.155555,0.453243,0.664179,0.630710,0.554907,0.537783,0.000000
2015-03-23,0.154967,0.496153,0.643100,0.658280,0.553029,0.702770,0.000000
2015-03-24,0.154132,0.475313,0.629121,0.640563,0.549016,0.637279,0.000000
2015-03-25,0.152518,0.357277,0.521785,0.591285,0.533466,0.220403,0.000000
2015-03-26,0.151839,0.389070,0.395282,0.505525,0.523868,0.328715,0.129909
2015-03-27,0.150792,0.355822,0.251657,0.374898,0.512470,0.212599,0.000000
2015-03-30,0.150551,0.465517,0.387491,0.328424,0.514393,0.622048,0.000000
...,...,...,...,...,...,...,...
2019-12-06,0.805376,0.652896,0.742379,0.538713,0.700485,0.980285,1.000000
2019-12-09,0.805738,0.558036,0.832661,0.688613,0.693433,0.722638,0.000000
2019-12-10,0.806170,0.582486,0.850225,0.809741,0.691156,0.828689,1.000000
2019-12-11,0.807571,0.617198,0.849357,0.846762,0.695240,0.977717,1.000000
2019-12-12,0.810158,0.627548,0.920293,0.877088,0.698577,0.932390,1.000000
2019-12-13,0.814267,0.679978,0.975562,0.920463,0.711948,0.992110,1.000000
2019-12-16,0.819922,0.736653,0.970260,0.962303,0.736652,0.962040,0.000000
2019-12-17,0.824313,0.742804,0.975074,0.981260,0.755174,0.946625,1.000000
2019-12-18,0.829145,0.722209,0.949218,0.972144,0.764309,0.915658,0.500000
2019-12-19,0.832954,0.725865,0.937230,0.960713,0.769360,0.926591,0.708950
2019-12-20,0.836767,0.706090,0.914097,0.939612,0.768098,0.878225,0.500000
2019-12-23,0.842972,0.766585,0.939034,0.936087,0.780165,0.989393,0.000000
2019-12-24,0.850734,0.769873,0.954398,0.942028,0.787296,0.972020,1.000000
2019-12-26,0.859545,0.831023,0.994637,0.969900,0.809556,0.997208,1.000000
2019-12-27,0.867120,0.827083,0.949695,0.973590,0.822989,0.856503,0.500000
2019-12-30,0.873628,0.844283,0.929681,0.965036,0.835854,0.912842,0.000000
2019-12-31,0.881988,0.864467,0.926564,0.941478,0.849583,0.987992,1.000000
2020-01-02,0.891956,0.916134,0.972553,0.949389,0.880069,0.992488,1.000000
2020-01-03,0.900294,0.816965,0.965896,0.961922,0.889160,0.893158,0.500000
2020-01-06,0.909157,0.838297,0.958503,0.972975,0.900178,0.966130,0.000000
2020-01-07,0.916426,0.791739,0.923046,0.955842,0.899153,0.887646,0.500000
2020-01-08,0.923722,0.836831,0.942844,0.947864,0.910763,0.951700,1.000000
2020-01-09,0.932861,0.884539,0.945810,0.943472,0.937967,0.974898,1.000000
2020-01-10,0.942428,0.889155,0.960606,0.956470,0.956688,0.931398,1.000000
2020-01-13,0.953981,0.928144,0.975927,0.967919,0.989614,0.997002,0.000000
2020-01-14,0.964377,0.807358,0.936689,0.964763,0.994538,0.858874,0.500000
2020-01-15,0.972928,0.771804,0.895790,0.942332,0.987911,0.810465,0.500000
2020-01-16,0.982614,0.805234,0.872445,0.906521,0.990925,0.927975,1.000000
2020-01-17,0.991628,0.832147,0.920072,0.900770,1.000000,0.999702,1.000000
2020-01-21,1.000000,0.774140,0.956085,0.921636,0.993650,0.916950,0.000000

In [28]:
X = df2[predictors]

y = df2[target_column]

# X = X.T

print(X.shape) ; print(y.shape)

(1242, 6)
(1242, 1)

In [29]:
Xindex = np.array([[1], [2], [3], [4], [5], [6]])

Xindex = Xindex.T

print(Xindex.shape); print(Xindex)

(1, 6)
[[1 2 3 4 5 6]]

In [33]:
#  FEB

# cx = np.outer(X, Xindex).flatten(order='F')

# cx = np.sum(cx.reshape(-1, 6), axis=1)

# cx = np.tanh(cx)

#all on one line
cx = np.tanh(np.sum(np.outer(X, Xindex).flatten(order='F').reshape(-1, 6), axis=1))



print(cx.shape); print(cx)

(7452,)
[0.98333642 0.99962375 0.9996883  ... 1.         1.         1.        ]

In [34]:
# import sys
# np.set_printoptions(threshold=sys.maxsize)
# print(cx)

In [35]:
synaptic_weights = np.random.random(len(cx))
print(synaptic_weights)

[0.24505985 0.34098946 0.73086298 ... 0.92356024 0.78089513 0.63185647]

In [ ]:
# for iteration in range(1000):
#     z = np.dot(cx, synaptic_weights)
#     sigmoid = 1/(1+np.exp(-z))
#     error = (y - sigmoid)
# # print(error); print(cx.shape)
# print(error.shape)

# for iteration in range(1000):
#     z = np.dot(cx, synaptic_weights)
#     sigmoid = 1/(1+np.exp(-z))
#     error = (y - sigmoid)
# print(error); print(cx.shape)
# print(error.shape)

In [ ]:
# sigmoidDerivative = sigmoid * (1 - sigmoid)
# # print(synaptic_weights.shape)
# # print(sigmoidDerivative)

In [ ]:
# synaptic_weights += np.dot(y, error*sigmoidDerivative)

In [ ]:
# print("Considering new situation: [0,1,1]")
# # calculate weighted inputs
# newZ = np.dot(np.array([0,1,1,1,1,1]), synaptic_weights)
# # put weighted inputs into our activation function to get the network’s output
# activationOutput = 1/(1+np.exp(-newZ))
# print(activationOutput.shape)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
# print(X_train.shape); print(X_test.shape)

In [ ]:
# # not having this causes model.fit(X_train, y_train, batch_size=500) to have an accuracy of 1 which doesn't seem right.

# # one hot encode outputs
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

# count_classes = y_test.shape[1]
# print(count_classes)