In [4]:
# import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta

In [5]:
df = pd.read_csv('BA.csv')

df['Date'] = pd.to_datetime(df['Date'])

df.index = df['Date']

df.head()
# df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-02-03,2015-02-03,146.369995,148.000000,146.179993,147.339996,128.639938,5978200
2015-02-04,2015-02-04,145.970001,148.389999,145.929993,147.220001,128.535172,4766200
2015-02-05,2015-02-05,147.259995,148.869995,146.460007,148.600006,129.740036,4252600
2015-02-06,2015-02-06,148.619995,148.889999,147.699997,148.000000,129.216217,4398800
2015-02-09,2015-02-09,146.160004,148.160004,145.630005,147.580002,128.849487,4202900

In [6]:
df = df.drop(["Date"], axis=1)

In [7]:
#5.1. Step 1: extract technical indicators

#Define Technical Indicators
#_______________________________________________________________________

#Simple Moving Average  
sma = ta.SMA(df.Close,900)
df['MA25'] = sma
df = df.fillna(0)

# RSI
df["RSI"] = ta.RSI(df.Close,14)

# Stochastic K
df["Stoch_K"], df["Stoch_D"] = ta.STOCH(df["High"], df["Low"], df["Close"], fastk_period=14, slowk_period=3, slowk_matype=0, 
                                       slowd_period=3, slowd_matype=0)

# MACD
df['MACD'], df['MACDSignal'], df['MACDHist'] = ta.MACD(df.Close, fastperiod= 12, slowperiod= 26, signalperiod= 9)

# Williams R%
df["WILLR"] = ta.WILLR(df['High'], df['Low'], df['Close'], timeperiod=14) 

#df["WILLR"] = (WILLR - WILLR.min())/(WILLR.max() - WILLR.min())
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA25,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR
Date,,,,,,,,,,,,,,
2020-01-27,316.209991,321.260010,314.579987,316.600006,316.600006,7468100,284.427944,39.800736,39.610963,32.293929,-6.286475,-5.699115,-0.587360,-66.530010
2020-01-28,318.049988,319.359985,314.000000,316.559998,316.559998,5502200,284.638578,39.775639,39.323804,37.478964,-6.322034,-5.823699,-0.498335,-64.521934
2020-01-29,324.350006,327.179993,319.140015,322.019989,322.019989,12454700,284.852078,44.883662,39.474169,39.469645,-5.842293,-5.827418,-0.014875,-50.525550
2020-01-30,320.500000,325.350006,317.640015,323.299988,323.299988,6022000,285.067200,46.039141,47.928693,42.242222,-5.297740,-5.721482,0.423742,-41.166436
2020-01-31,321.750000,321.929993,316.989990,318.269989,318.269989,4996800,285.279755,42.287379,51.987834,46.463565,-5.211977,-5.619581,0.407604,-52.344512

In [8]:
# 5.2. Step 2: trend analysis using technical indicators

#make MA25 into a series
MA25 = df.iloc[:,6]

# Up trend is 1, No trend is 0, and Down trend is -1
df['Trend'] = MA25.rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

df.tail()
#If close > MA25 and MA25 is rising for last 5 days then 1 (Uptrend)
#If close < MA25 and MA25 is declining for last 5 days then -1 (Downtrend)
#If neither are true then 0 (Notrend)
def f(row):
    if row['Close'] > row['MA25'] and row['Trend'] == 1:
        val = 1
    elif row['Close'] < row['MA25'] and row['Trend'] == -1:
        val = -1
    else:
        val = 0
    return val
df['Trend'] = df.apply(f, axis=1)
# df.tail(n=1)

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  import sys

In [11]:
#5.3. Step 3: trading signal generation from trend analysis

Close = df.iloc[:,3]
df["UpTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5 + .5
df["DownTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5

def g(row):
    if row['Trend'] == 1:
        val = row['UpTrend']
    elif row['Trend'] == -1:
        val = row['DownTrend']
    else:
        val = 0
    return val
df['Trade_Signal'] = df.apply(g, axis=1)
df

,Open,High,Low,Close,Adj Close,Volume,MA25,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR,Trend,UpTrend,DownTrend,Trade_Signal
Date,,,,,,,,,,,,,,,,,,
2015-02-03,146.369995,148.000000,146.179993,147.339996,128.639938,5978200,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.000000
2015-02-04,145.970001,148.389999,145.929993,147.220001,128.535172,4766200,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.500000,0.000000,0.000000
2015-02-05,147.259995,148.869995,146.460007,148.600006,129.740036,4252600,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-06,148.619995,148.889999,147.699997,148.000000,129.216217,4398800,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.782607,0.282607,0.000000
2015-02-09,146.160004,148.160004,145.630005,147.580002,128.849487,4202900,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.000000
2015-02-10,148.199997,148.710007,147.500000,148.039993,129.251099,4034900,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-11,147.509995,148.380005,147.089996,147.919998,129.945084,3272700,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.869568,0.369568,0.000000
2015-02-12,148.259995,148.570007,147.679993,148.089996,130.094467,2998900,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-13,147.979996,149.839996,147.639999,149.729996,131.535156,3418600,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-17,148.720001,149.960007,148.520004,149.919998,131.702087,3622400,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0.000000
2015-02-18,149.699997,151.619995,149.369995,151.169998,132.800186,3722100,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-19,151.050003,154.240005,151.000000,153.750000,135.066666,4384000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-20,153.800003,158.830002,153.800003,158.309998,139.072540,9366000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.000000,0.500000,0.000000
2015-02-23,155.000000,155.919998,153.360001,154.740005,135.936371,8653700,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-30.984833,0,NaN,NaN,0.000000
2015-02-24,153.500000,154.779999,153.210007,154.380005,135.620102,4391700,0.000000,70.206705,NaN,NaN,NaN,NaN,NaN,-33.712106,0,0.500000,0.000000,0.000000
2015-02-25,154.309998,154.740005,152.139999,153.009995,134.416580,4800500,0.000000,64.724801,NaN,NaN,NaN,NaN,NaN,-44.090972,0,0.500000,0.000000,0.000000
2015-02-26,152.309998,152.380005,150.809998,151.729996,133.292099,5149300,0.000000,60.010164,NaN,NaN,NaN,NaN,NaN,-53.787936,0,0.500000,0.000000,0.000000
2015-02-27,151.000000,151.889999,150.449997,150.850006,132.519058,4330700,0.000000,56.939422,47.222187,55.698626,NaN,NaN,NaN,-60.454529,0,0.500000,0.000000,0.000000
2015-03-02,150.850006,154.149994,150.750000,153.800003,135.110611,4622800,0.000000,63.653804,47.637530,50.332015,NaN,NaN,NaN,-42.844944,0,NaN,NaN,0.000000
2015-03-03,154.710007,156.910004,154.169998,155.570007,136.665512,8656600,0.000000,66.980645,56.310757,50.390158,NaN,NaN,NaN,-27.768257,0,1.000000,0.500000,0.000000
2015-03-04,154.619995,155.220001,154.000000,154.350006,135.593735,4476200,0.000000,62.719316,63.117033,55.688440,NaN,NaN,NaN,-40.035700,0,0.655368,0.155368,0.000000
2015-03-05,154.860001,155.979996,154.309998,154.470001,135.699142,3327200,0.000000,62.968862,64.410895,61.279562,NaN,NaN,NaN,-38.963359,0,0.549178,0.049178,0.000000
2015-03-06,153.919998,155.029999,152.809998,153.119995,134.513199,3556200,0.000000,58.245148,55.205913,60.911280,NaN,NaN,NaN,-55.383202,0,0.500000,0.000000,0.000000
2015-03-09,153.300003,155.610001,153.149994,154.750000,135.945129,3433000,0.000000,61.956064,54.174829,57.930546,NaN,NaN,NaN,-43.128953,0,NaN,NaN,0.000000
2015-03-10,153.300003,154.130005,152.419998,152.419998,133.898270,3839600,0.000000,54.499803,41.665399,50.348714,NaN,NaN,NaN,-76.491649,0,0.500000,0.000000,0.000000
2015-03-11,152.509995,152.690002,151.169998,151.169998,132.800186,3395400,0.000000,50.956752,29.657097,41.832441,NaN,NaN,NaN,-91.408108,0,0.500000,0.000000,0.000000
2015-03-12,151.279999,152.919998,151.279999,152.039993,133.564407,2965100,0.000000,53.235469,18.904386,30.075627,NaN,NaN,NaN,-75.387085,0,0.847998,0.347998,0.000000
2015-03-13,151.889999,152.389999,149.789993,151.570007,133.151581,3569600,0.000000,51.834329,19.401655,22.654379,NaN,NaN,NaN,-74.999842,0,0.729892,0.229892,0.000000
2015-03-16,152.389999,154.190002,152.270004,153.669998,134.996384,2742900,0.000000,57.248689,34.702480,24.336174,NaN,NaN,NaN,-45.505632,0,NaN,NaN,0.000000
2015-03-17,152.880005,155.000000,152.729996,154.509995,135.734268,2927200,0.000000,59.223235,48.595529,34.233221,NaN,NaN,NaN,-33.707939,0,1.000000,0.500000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-18,328.720001,335.250000,328.140015,330.679993,330.679993,7029300,278.903378,33.407911,11.590113,9.840246,-7.658175,-4.486467,-3.171709,-78.884447,1,1.000000,0.500000,1.000000
2019-12-19,332.899994,334.809998,330.980011,333.500000,333.500000,5492600,279.132267,36.414770,20.383867,13.146308,-7.808425,-5.150858,-2.657567,-72.439578,1,1.000000,0.500000,1.000000
2019-12-20,334.619995,335.500000,328.000000,328.000000,328.000000,9489400,279.353533,33.260383,23.273501,18.415827,-8.275904,-5.775867,-2.500037,-78.855473,1,0.500000,0.000000,0.500000
2019-12-23,336.750000,340.589996,334.200012,337.549988,337.549988,9534800,279.584911,42.563899,32.517174,25.391514,-7.786028,-6.177899,-1.608128,-51.153428,1,NaN,NaN,NaN
2019-12-24,339.510010,339.750000,332.619995,333.000000,333.000000,4120100,279.811333,39.722745,35.552929,30.447868,-7.676454,-6.477610,-1.198843,-63.332312,1,0.500000,0.000000,0.500000
2019-12-26,332.700012,333.359985,329.299988,329.920013,329.920013,4593400,280.037744,37.879509,37.688955,35.253019,-7.748821,-6.731852,-1.016969,-72.447394,1,0.500000,0.000000,0.500000
2019-12-27,330.200012,333.649994,329.170013,330.140015,330.140015,4124000,280.264111,38.100458,31.035969,34.759285,-7.699664,-6.925415,-0.774249,-71.112386,1,1.000000,0.500000,1.000000
2019-12-30,330.500000,330.630005,325.709991,326.399994,326.399994,4525500,280.485833,35.771176,25.081684,31.268869,-7.871754,-7.114682,-0.757071,-81.195170,1,NaN,NaN,NaN
2019-12-31,325.410004,326.570007,323.320007,325.760010,325.760010,4958800,280.706255,35.372666,21.533311,25.883655,-7.967928,-7.285332,-0.682597,-83.092511,1,0.500000,0.000000,0.500000
2020-01-02,328.549988,333.350006,327.700012,333.320007,333.320007,4544400,280.930055,43.394958,25.813072,24.142689,-7.349400,-7.298145,-0.051254,-58.273103,1,1.000000,0.500000,1.000000
2020-01-03,330.630005,334.890015,330.299988,332.760010,332.760010,3875900,281.153200,42.969467,33.656316,27.000900,-6.825716,-7.203659,0.377944,-57.665437,1,0.500000,0.000000,0.500000
2020-01-06,329.299988,334.859985,327.880005,333.739990,333.739990,5355000,281.376244,44.004188,49.925721,36.465037,-6.259461,-7.014820,0.755359,-34.284295,1,NaN,NaN,NaN
2020-01-07,334.260010,344.190002,330.709991,337.279999,337.279999,9898600,281.603111,47.695866,59.581927,47.721322,-5.462087,-6.704273,1.242186,-29.304487,1,1.000000,0.500000,1.000000
2020-01-08,332.399994,334.029999,329.600006,331.369995,331.369995,8239200,281.825589,42.641478,58.327761,55.945136,-5.246572,-6.412733,1.166161,-61.427935,1,0.500000,0.000000,0.500000
2020-01-09,334.950012,341.730011,332.049988,336.339996,336.339996,8175600,282.054944,47.664210,57.217913,58.375867,-4.621463,-6.054479,1.433016,-37.613837,1,0.920474,0.420474,0.920474
2020-01-10,335.559998,337.700012,329.450012,329.920013,329.920013,7161700,282.276522,42.488440,44.194202,53.246625,-4.591175,-5.761818,1.170643,-68.375623,1,0.500000,0.000000,0.500000
2020-01-13,332.399994,334.100006,330.079987,330.220001,330.220001,5648500,282.498811,42.800995,42.357443,47.923186,-4.491193,-5.507693,1.016500,-66.938210,1,NaN,NaN,NaN
2020-01-14,330.760010,335.350006,328.279999,332.350006,332.350006,6945300,282.724344,45.083112,35.984674,40.845440,-4.191763,-5.244507,1.052744,-56.732146,1,1.000000,0.500000,1.000000
2020-01-15,332.350006,333.109985,329.690002,329.799988,329.799988,4578300,282.946544,42.877514,35.792971,38.045030,-4.112818,-5.018169,0.905352,-68.950730,1,0.500000,0.000000,0.500000
2020-01-16,331.049988,332.869995,329.309998,332.000000,332.000000,4024100,283.167933,45.361109,38.635967,36.804537,-3.828597,-4.780255,0.951658,-58.409223,1,0.931372,0.431372,0.931372
2020-01-17,332.390015,332.500000,323.000000,324.149994,324.149994,11061700,283.381967,38.867451,26.022369,33.483769,-4.188497,-4.661903,0.473406,-94.572941,1,0.500000,0.000000,0.500000
2020-01-21,322.600006,326.600006,305.750000,313.369995,313.369995,19318000,283.583744,32.076557,22.280308,28.979548,-5.282681,-4.786059,-0.496622,-80.176913,1,NaN,NaN,NaN
2020-01-22,309.820007,312.839996,302.720001,309.000000,309.000000,18792600,283.778689,29.803283,13.464540,20.589072,-6.428350,-5.114517,-1.313833,-84.856526,1,0.500000,0.000000,0.500000
2020-01-23,308.500000,318.170013,307.700012,317.790009,317.790009,9702100,283.991211,39.145499,23.768701,19.837850,-6.551498,-5.401913,-1.149585,-63.660459,1,1.000000,0.500000,1.000000
2020-01-24,322.000000,326.200012,312.510010,323.049988,323.049988,17798200,284.213822,43.952444,33.502124,23.578455,-6.153722,-5.552275,-0.601447,-50.976642,1,1.000000,0.500000,1.000000
2020-01-27,316.209991,321.260010,314.579987,316.600006,316.600006,7468100,284.427944,39.800736,39.610963,32.293929,-6.286475,-5.699115,-0.587360,-66.530010,1,NaN,NaN,NaN
2020-01-28,318.049988,319.359985,314.000000,316.559998,316.559998,5502200,284.638578,39.775639,39.323804,37.478964,-6.322034,-5.823699,-0.498335,-64.521934,1,0.500000,0.000000,0.500000
2020-01-29,324.350006,327.179993,319.140015,322.019989,322.019989,12454700,284.852078,44.883662,39.474169,39.469645,-5.842293,-5.827418,-0.014875,-50.525550,1,1.000000,0.500000,1.000000
2020-01-30,320.500000,325.350006,317.640015,323.299988,323.299988,6022000,285.067200,46.039141,47.928693,42.242222,-5.297740,-5.721482,0.423742,-41.166436,1,1.000000,0.500000,1.000000
2020-01-31,321.750000,321.929993,316.989990,318.269989,318.269989,4996800,285.279755,42.287379,51.987834,46.463565,-5.211977,-5.619581,0.407604,-52.344512,1,0.500000,0.000000,0.500000

In [10]:
#I added .tail(n=Length - 32) to omit values where the indicators = 0 since the machine learning agorithm trains on the values 
#of the indicators and the MACD doesn't generate values until 33 periods have passed.
Length = (df.shape[0] - 1100)


df2 = (df[['MA25', 'RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trade_Signal']].copy().tail(n=Length).copy())


#I get some na values without this and I'm worried that using this and
# having those values as zero will mess with the algorithms interpretation of the data
df2 = df2.fillna(0)

# df2.describe()
df2.head()

,MA25,RSI,Stoch_K,Stoch_D,MACD,WILLR,Trade_Signal
Date,,,,,,,
2019-06-18,246.623167,64.906244,82.218373,69.342184,-0.811875,-1.568902,1.000000
2019-06-19,246.867922,59.872392,88.992382,80.116578,0.427263,-22.101158,0.858342
2019-06-20,247.118633,63.445633,89.074074,86.761609,1.897389,-9.107719,1.000000
2019-06-21,247.365789,60.648081,84.278800,87.448419,2.785066,-15.954722,0.759493
2019-06-24,247.616511,61.926708,87.858293,87.070389,3.620311,-11.362681,0.000000

In [ ]:
#5.5. Step 5: network structure creation and training using ELM

target_column = ['Trade_Signal'] 
predictors = list(set(list(df2.columns))-set(target_column))
#line 3 here fufills the data normalization of Step 5.4
df2[predictors] = (df2[predictors] - df2[predictors].min())/(df2[predictors].max() - df2[predictors].min())

#df2.describe()
#df2.info()
df2.tail()
# df2.head()

In [ ]:
X = df2[predictors]

y = df2[target_column]

y = y.T

print(X.shape); print(X.ndim); print(y.shape); print(y.ndim)
# print(X)

In [ ]:
Xindex = np.array([[1], [2], [3], [4], [5], [6]])

Xindex = Xindex.T

print(Xindex.shape); print(Xindex)

In [ ]:
#  Functional Expansion Block

# import sys
# np.set_printoptions(threshold=sys.maxsize)

feb = np.outer(X, Xindex)
# .flatten(order='F')
print(feb.shape); print(feb);
# print(feb.type)

In [ ]:
feb = feb.reshape(-1, 6)
print(feb)

In [ ]:
feb =np.sum(feb, axis=1)
print(feb.shape); print(feb);

In [ ]:
# feb = np.tanh(feb)
# print(feb)

In [ ]:
#  Functional Expansion Block

# feb = np.outer(X, Xindex).flatten(order='F')
# feb = np.sum(cx.reshape(-1, 6), axis=1)
# feb = np.tanh(feb)

#all on one line
feb = np.tanh(np.sum(np.outer(X, Xindex).flatten(order='F').reshape(-1, 6), axis=1))

print(feb.shape); print(feb.ndim);
# print(feb)

In [ ]:
cx = feb.reshape(1, len(feb) )
print(cx.shape); print(cx.ndim);
# print(cx)

In [ ]:
# initialize random weights
Y = np.random.random((1, (Length * 6)))

print(Y.shape); print(Y.ndim);print(Y)

In [ ]:
I = np.identity(len(feb))

print(I.shape); print(I.ndim); print(I)

In [ ]:
# W= (cx.T).dot(cx)

# lamb = 1
# W = np.linalg.lstsq(cx.T.dot(cx) + lamb * I, cx.T.dot(Y),  rcond=1)

# W = ((cx.T.dot(cx) + lamb * I)**-1) * (cx.T.dot(Y))



lamb = 1
W = np.linalg.lstsq(cx.T.dot(cx) + lamb * I, cx.T.dot(Y))[0]  

# 
print(W.shape);  print(W.ndim); print(W)

In [ ]:
cx_index = np.array(len(feb))
print(cx.shape);  print(cx.ndim);
# print(cx)

In [ ]:

y = np.outer(W, cx_index).reshape(948, -1)
# print(y)

In [ ]:
# y= np.outer(W, cx_index).flatten(order='F')
# print(y.shape)

In [ ]:
y = np.sum(np.outer(W, cx).reshape(948, -1), axis=1)
# print(y.shape)

In [ ]:
print(y.shape)

In [ ]:
# import sys
# np.set_printoptions(threshold=sys.maxsize)

print(y)

In [ ]:
Outputnp.mean(a, axis=1)

In [ ]:
#I'm working on figure 1 of the article and I have the expanded inputs CX, and the initialized weights as z
#I don't know how to read equation 2 or the Moore-Penros generalized inverse function of equation 5. If I'm reading this correctly
#(I'm not 100% sure I am), those functions are the key to using my CX expanded output values to create W.

# I'm still new to ELM so if I'm missing something please let me know. 
#any help is appreciated
#Thank you so much !!!!

In [ ]:
#this is a for loop  I found online. It is not what is described in the article

for iteration in range(1000):
    z = np.dot(cx.T, Y)
    sigmoid = 1/(1+np.exp(-cx))
    error = (y - sigmoid)
print(error); print(error.shape)

In [ ]:
sigmoidDerivative = sigmoid * (1 - sigmoid)
print(sigmoidDerivative)

In [ ]:
synaptic_weights += np.dot(cx, error*sigmoidDerivative)
print(synaptic_weights)