In [ ]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta

In [2]:
df = pd.read_csv('AAPL.csv')

df['Date'] = pd.to_datetime(df['Date'])

df.index = df['Date']

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-01-22,2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400
2015-01-23,2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800
2015-01-26,2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000
2015-01-27,2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700
2015-01-28,2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100

In [3]:
df = df.drop(["Date"], axis=1)

In [4]:
#5.1. Step 1: extract technical indicators

#Define Technical Indicators
#_______________________________________________________________________

#Simple Moving Average  
sma = ta.SMA(df.Close,15)
df['MA15'] = sma
df = df.fillna(0)

# RSI
df["RSI"] = ta.RSI(df.Close,14)

# Stochastic K
df["Stoch_K"], df["Stoch_D"] = ta.STOCH(df["High"], df["Low"], df["Close"], fastk_period=14, slowk_period=3, slowk_matype=0, 
                                       slowd_period=3, slowd_matype=0)

# MACD
df['MACD'], df['MACDSignal'], df['MACDHist'] = ta.MACD(df.Close, fastperiod= 12, slowperiod= 26, signalperiod= 9)

# Williams R%
df["WILLR"] = ta.WILLR(df['High'], df['Low'], df['Close'], timeperiod=14) 

#df["WILLR"] = (WILLR - WILLR.min())/(WILLR.max() - WILLR.min())
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR
Date,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024

In [5]:
# 5.2. Step 2: trend analysis using technical indicators

#make MA15 into a series
MA15 = df.iloc[:,6]

# Up trend is 1, No trend is 0, and Down trend is -1
df['Trend'] = MA15.rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

df.tail()
#If close > MA15 and MA15 is rising for last 5 days then 1 (Uptrend)
#If close < MA15 and MA15 is declining for last 5 days then -1 (Downtrend)
#If neither are true then 0 (Notrend)
def f(row):
    if row['Close'] > row['MA15'] and row['Trend'] == 1:
        val = 1
    elif row['Close'] < row['MA15'] and row['Trend'] == -1:
        val = -1
    else:
        val = 0
    return val
df['Trend'] = df.apply(f, axis=1)
df.tail()

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  import sys

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR,Trend
Date,,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597,1
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489,1
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524,1
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770,1
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024,1

In [6]:
#I'm not sure if this is right, I would appreciate it if you double checked my work here

#5.3. Step 3: trading signal generation from trend analysis

Close = df.iloc[:,3]
df["UpTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5 + .5
df["DownTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5

def g(row):
    if row['Trend'] == 1:
        val = row['UpTrend']
    elif row['Trend'] == -1:
        val = row['DownTrend']
    else:
        val = 0
    return val
df['Trade_Signal'] = df.apply(g, axis=1)
df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,RSI,Stoch_K,Stoch_D,MACD,MACDSignal,MACDHist,WILLR,Trend,UpTrend,DownTrend,Trade_Signal
Date,,,,,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,298.793996,77.037165,92.909134,94.984096,11.280343,9.855563,1.424780,-14.112597,1,0.5,0.0,0.5
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,300.616663,74.570538,88.878048,92.854598,11.131528,10.110756,1.020772,-18.953489,1,0.5,0.0,0.5
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,302.681329,76.889809,86.577130,89.454770,11.199191,10.328443,0.870748,-7.202524,1,1.0,0.5,1.0
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,304.602663,78.756961,91.271405,88.908861,11.402984,10.543351,0.859633,-0.029770,1,1.0,0.5,1.0
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.387331,74.732596,94.820894,90.889810,11.260394,10.686760,0.573634,-8.305024,1,NaN,NaN,NaN

In [7]:
#What do I use for the target Column? and should I fill null values with 0?

df2 = df[['MA15', 'RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trade_Signal']].copy()

df2 = df2.fillna(0)

df2.describe()

,MA15,RSI,Stoch_K,Stoch_D,MACD,WILLR,Trade_Signal
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000
mean,154.166222,55.173330,59.563443,59.566498,0.929749,-39.094107,0.385056
std,47.690127,14.960501,29.594524,28.881416,3.234428,31.007076,0.413128
min,0.000000,0.000000,0.000000,0.000000,-11.052513,-100.000000,0.000000
25%,115.387000,45.535633,32.285505,32.965909,-0.541702,-67.230629,0.000000
50%,152.370334,56.473075,66.966831,67.277426,0.970528,-32.005703,0.306838
75%,186.819333,65.267139,86.203959,85.877535,2.709739,-10.852376,0.848381
max,306.387331,90.402156,99.149279,98.329441,11.402984,0.000000,1.000000

In [8]:
#5.5. Step 5: network structure creation and training using ELM

#This is where I need the most help, I'm  not sure if I'm using the all the right modules and functions
# and I need the output to fill a column with the output values 0 through 1 so I can move to-
# Step 6: trend determination from output trading signal

target_column = ['Trade_Signal'] 
predictors = list(set(list(df2.columns))-set(target_column))
#line 3 here fufills the data normalization of Step 5.4
df2[predictors] = (df2[predictors] - df2[predictors].min())/(df2[predictors].max() - df2[predictors].min())
df2.describe()
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2015-01-22 to 2020-01-21
Data columns (total 7 columns):
MA15            1258 non-null float64
RSI             1258 non-null float64
Stoch_K         1258 non-null float64
Stoch_D         1258 non-null float64
MACD            1258 non-null float64
WILLR           1258 non-null float64
Trade_Signal    1258 non-null float64
dtypes: float64(7)
memory usage: 78.6 KB

In [9]:
import tensorflow as tf
import keras
from keras.utils import to_categorical

#import ELM
from tfelm.elm import ELM

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
#from math import sqrt

C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\JMadd\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [10]:
X = df2[predictors].values
y = df2[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(880, 6)
(378, 6)

In [11]:
# one hot encode outputs
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

count_classes = y_test.shape[1]
print(count_classes)

2

In [12]:
model = ELM(input_size=6, output_size=2, l2norm=10e1, name='model')

WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\base_slfn.py:30: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\base_slfn.py:34: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

In [13]:
#I think this is where I need to input the custom equations 1 - 4 
#For now, these are just placeholder functions from an example notebook

#Custom Activation and Weights and Bias initialization
def softsign(x):
    y = x / (1+ tf.abs(x))
    return y

# initialize the ELM with an orthogonal weight matrix and the Bias as a unit norm vector:
ortho_w = tf.orthogonal_initializer()
uni_b= tf.uniform_unit_scaling_initializer()

init_w = tf.get_variable(name='init_w',shape=[6, 1024], initializer=ortho_w)

init_b = tf.get_variable(name='init_b', shape=[1024], initializer=uni_b)

model.add_layer(1024, activation= softsign, w_init= init_w, b_init = init_b)

WARNING:tensorflow:From C:\Users\JMadd\Anaconda3\lib\site-packages\tensorflow\python\util\deprecation.py:507: UniformUnitScaling.__init__ (from tensorflow.python.ops.init_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.initializers.variance_scaling instead with distribution=uniform to get equivalent behavior.

In [ ]:
# model.add_layer(n_neurons=1024);

In [14]:
model.compile()

Using custom inizialization for ELM: model and layer number 1/1
model has been initialized
WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\elm.py:50: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\elm.py:54: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\elm.py:54: The name tf.matrix_inverse is deprecated. Please use tf.linalg.inv instead.

In [15]:

model.fit(X_train, y_train, batch_size=500)

Creating Dataset and Iterator from tensors
WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\elm.py:103: DatasetV1.make_initializable_iterator (from tensorflow.python.data.ops.dataset_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `for ... in dataset:` to iterate over a dataset. If using `tf.estimator`, return the `Dataset` object directly from your input function. As a last resort, you can use `tf.compat.v1.data.make_initializable_iterator(dataset)`.
Training of ELM model ended in 0:0:0.369046
####################################################################################################
WARNING:tensorflow:From C:\Users\JMadd\git\Experiment\Stock-Experiment\tfelm\elm.py:91: The name tf.train.Saver is deprecated. Please use tf.compat.v1.train.Saver instead.

Evaluating network performance
Accuracy: 0.7821052

0.7821052

In [16]:
#it accepts batch size as also the evaluation is done by batching to allow bigger datasets to be evaluated
model.evaluate(X_test, y_test, batch_size=500)

Evaluating network performance
Accuracy: 0.7724867

0.77248675

In [17]:
# Here I get ValueError: too many values to unpack (expected 2)
# I can't figure out to move past here. I thought I specified -
#2 outputs earlier with: model = ELM(input_size=6, output_size=2, l2norm=10e1, name='model')

pred = model.predict(X_test, batch_size=500)

#pred_train= model.predict(X_train)



scores = model.evaluate(X_train, y_train, verbose=0)
print('Accuracy on training data: {}% \n Error on training data: {}'.format(scores[1], 1 - scores[1])) 

pred_test= model.predict(X_test) 
scores2 = model.evaluate(X_test, y_test, verbose=0)
print('Accuracy on test data: {}% \n Error on test data: {}'.format(scores2[1], 1 - scores2[1]))

Predicting...

ValueError: too many values to unpack (expected 2)