In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('AAPL.csv')

df['Date'] = pd.to_datetime(df['Date'])

df.index = df['Date']

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-01-22,2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400
2015-01-23,2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800
2015-01-26,2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000
2015-01-27,2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700
2015-01-28,2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100

In [3]:
#fig = go.Figure(data=[go.Candlestick(x=df['Date'],
#                open=df['Open'],
#                high=df['High'],
#               low=df['Low'],
#                close=df['Close'])])

#fig.show()

In [4]:
df = df.drop(["Date"], axis=1)

In [5]:
#Exponential Moving Average  
ema = ta.EMA(df.Close,15)
df['MA15'] = ema
df = df.fillna(0)

#make MA15 into a series
MA15 = df.iloc[:,6]

# Up trend is 1, No trend is 0, and Down trend is -1
df['Trend'] = MA15.rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

df.tail()
#If close > MA15 and MA15 is rising for last 5 days then 1 (Uptrend)
#If close < MA15 and MA15 is declining for last 5 days then -1 (Downtrend)
#If neither are true then 0 (Notrend)
def f(row):
    if row['Close'] > row['MA15'] and row['Trend'] == 1:
        val = 1
    elif row['Close'] < row['MA15'] and row['Trend'] == -1:
        val = -1
    else:
        val = 0
    return val
df['Trend'] = df.apply(f, axis=1)
df.tail()

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:

Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend
Date,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1

In [53]:
Close = df.iloc[:,3]
df["UpTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5 + .5
df["DownTrend"] = (Close - Close.rolling('3 D').min())/(Close.rolling('3 D').max() - Close.rolling('3 D').min()) * .5

def g(row):
    if row['Trend'] == 1:
        val = row['UpTrend']
    elif row['Trend'] == -1:
        val = row['DownTrend']
    else:
        val = 0
    return val
df['Trendi'] = df.apply(g, axis=1)
df

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend,UpTrend,DownTrend,Trendi,RSI,Stoch_K,Stock_D,MACD,MACDSignal,MACDHist,Stoch_D,WILLR
Date,,,,,,,,,,,,,,,,,,,
2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400,0.000000,0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000,0.000000,0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700,0.000000,0,0.500000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-29,116.320000,119.190002,115.559998,118.900002,109.247391,84436400,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-30,118.400002,120.000000,116.849998,117.160004,107.648643,83745500,0.000000,0,0.757661,0.257661,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-02,118.050003,119.169998,116.080002,118.629997,108.999298,62739100,0.000000,0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-03,118.500000,119.089996,117.610001,118.650002,109.017654,51915700,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-04,118.500000,120.510002,118.309998,119.559998,109.853806,70149700,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-05,120.019997,120.230003,119.250000,119.940002,110.637886,42246200,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-06,120.019997,120.250000,118.449997,118.930000,109.706200,43706600,0.000000,0,0.500000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-09,118.550003,119.839996,118.430000,119.720001,110.434944,38889800,0.000000,0,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-10,120.169998,122.150002,120.160004,122.019997,112.556557,62008500,0.000000,0,1.000000,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.990091
2015-02-11,122.769997,124.919998,122.500000,124.879997,115.194748,73561800,117.421333,1,1.000000,0.500000,1.000000,0.764916,NaN,NaN,NaN,NaN,NaN,NaN,0.997483
2015-02-12,126.059998,127.480003,125.570000,126.459999,116.652199,74474500,118.551167,1,1.000000,0.500000,1.000000,0.787936,NaN,NaN,NaN,NaN,NaN,NaN,0.944715
2015-02-13,127.279999,127.279999,125.650002,127.080002,117.224121,54272200,119.617271,1,1.000000,0.500000,1.000000,0.796833,NaN,NaN,NaN,NaN,NaN,NaN,0.978320
2015-02-17,127.489998,128.880005,126.919998,127.830002,117.915962,63152400,120.643862,1,NaN,NaN,NaN,0.807767,0.956434,0.982306,NaN,NaN,NaN,96.649609,0.922623
2015-02-18,127.629997,128.779999,127.449997,128.720001,118.736946,44891700,121.653380,1,1.000000,0.500000,1.000000,0.820761,0.971068,0.977231,NaN,NaN,NaN,96.167850,0.987988
2015-02-19,128.479996,129.029999,128.330002,128.449997,118.487869,37362400,122.502957,1,0.848312,0.348312,0.848312,0.806512,0.963253,0.970830,NaN,NaN,NaN,95.560134,0.955212
2015-02-20,128.619995,129.500000,128.050003,129.500000,119.456444,48948400,123.377587,1,1.000000,0.500000,1.000000,0.823244,0.989422,0.982246,NaN,NaN,NaN,96.643930,1.000000
2015-02-23,130.020004,133.000000,129.660004,133.000000,122.684975,70974100,124.580389,1,NaN,NaN,NaN,0.871538,0.993484,0.990003,NaN,NaN,NaN,97.380391,1.000000
2015-02-24,132.940002,133.600006,131.169998,132.169998,121.919357,69228100,125.529090,1,0.500000,0.000000,0.500000,0.827294,0.977001,0.994761,NaN,NaN,NaN,97.832071,0.906474
2015-02-25,131.559998,131.600006,128.149994,128.789993,118.801491,74711700,125.936703,1,0.500000,0.000000,0.500000,0.667042,0.869769,0.953354,NaN,NaN,NaN,93.900966,0.682926
2015-02-26,128.789993,130.869995,126.610001,130.419998,120.305084,91287500,126.497115,1,0.741125,0.241125,0.741125,0.699364,0.798875,0.886007,NaN,NaN,NaN,87.507228,0.790375
2015-02-27,130.000000,130.570007,128.240005,128.460007,118.497116,62014800,126.742476,1,0.500000,0.000000,0.500000,0.617604,0.715916,0.795654,NaN,NaN,NaN,78.929457,0.661174
2015-03-02,129.250000,130.279999,128.300003,129.089996,119.078239,48096700,127.035916,1,NaN,NaN,NaN,0.631902,0.709662,0.740247,NaN,NaN,NaN,73.669260,0.664434
2015-03-03,128.960007,129.520004,128.089996,129.360001,119.327293,37816300,127.326427,1,1.000000,0.500000,1.000000,0.638240,0.651372,0.689202,NaN,NaN,NaN,68.823143,0.618018
2015-03-04,129.100006,129.559998,128.320007,128.539993,118.570885,31666300,127.478123,1,0.500000,0.000000,0.500000,0.601227,0.552852,0.632771,NaN,NaN,NaN,63.465793,0.369862
2015-03-05,128.580002,128.750000,125.760002,126.410004,116.606094,56517100,127.344608,0,0.500000,0.000000,0.000000,0.511618,0.360475,0.511930,NaN,NaN,NaN,51.993511,0.095598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-06,267.480011,271.000000,267.299988,270.709991,270.709991,26518900,263.801571,1,1.000000,0.500000,1.000000,0.652896,0.742379,0.538713,0.700485,0.746472,0.343917,54.536200,0.980285
2019-12-09,270.000000,270.799988,264.910004,266.920013,266.920013,32010600,264.191376,1,NaN,NaN,NaN,0.558036,0.832661,0.688613,0.693433,0.736225,0.352370,68.767280,0.722638
2019-12-10,268.600006,270.070007,265.859985,268.480011,268.480011,22605100,264.727456,1,1.000000,0.500000,1.000000,0.582486,0.850225,0.809741,0.691156,0.727522,0.373923,80.266818,0.828689
2019-12-11,268.809998,271.100006,268.500000,270.769989,270.769989,19689200,265.482772,1,1.000000,0.500000,1.000000,0.617198,0.849357,0.846762,0.695240,0.721465,0.410865,83.781482,0.977717
2019-12-12,267.779999,272.559998,267.320007,271.459991,271.459991,34327600,266.229925,1,1.000000,0.500000,1.000000,0.627548,0.920293,0.877088,0.698577,0.717361,0.438105,86.660568,0.932390
2019-12-13,271.459991,275.299988,270.929993,275.149994,275.149994,33396900,267.344933,1,1.000000,0.500000,1.000000,0.679978,0.975562,0.920463,0.711948,0.717044,0.490974,90.778400,0.992110
2019-12-16,277.000000,280.790009,276.980011,279.859985,279.859985,32046500,268.909315,1,NaN,NaN,NaN,0.736653,0.970260,0.962303,0.736652,0.722273,0.568367,94.750582,0.962040
2019-12-17,279.570007,281.769989,278.799988,280.410004,280.410004,28539600,270.346901,1,1.000000,0.500000,1.000000,0.742804,0.975074,0.981260,0.755174,0.730567,0.611139,96.550352,0.946625
2019-12-18,279.799988,281.899994,279.119995,279.739990,279.739990,29007100,271.521037,1,0.500000,0.000000,0.500000,0.722209,0.949218,0.972144,0.764309,0.739229,0.616282,95.684865,0.915658
2019-12-19,279.500000,281.179993,278.950012,280.019989,280.019989,24592300,272.583406,1,0.708950,0.208950,0.708950,0.725865,0.937230,0.960713,0.769360,0.747279,0.607747,94.599687,0.926591
2019-12-20,282.230011,282.649994,278.559998,279.440002,279.440002,68994500,273.440481,1,0.500000,0.000000,0.500000,0.706090,0.914097,0.939612,0.768098,0.753439,0.581368,92.596338,0.878225
2019-12-23,280.529999,284.250000,280.369995,284.000000,284.000000,24643000,274.760420,1,NaN,NaN,NaN,0.766585,0.939034,0.936087,0.780165,0.761045,0.601543,92.261740,0.989393
2019-12-24,284.690002,284.890015,282.920013,284.269989,284.269989,12119700,275.949117,1,1.000000,0.500000,1.000000,0.769873,0.954398,0.942028,0.787296,0.768713,0.602399,92.825791,0.972020
2019-12-26,284.820007,289.980011,284.700012,289.910004,289.910004,23280300,277.694227,1,1.000000,0.500000,1.000000,0.831023,0.994637,0.969900,0.809556,0.779786,0.649939,95.471878,0.997208
2019-12-27,291.119995,293.970001,288.119995,289.799988,289.799988,36566500,279.207448,1,0.500000,0.000000,0.500000,0.827083,0.949695,0.973590,0.822989,0.791626,0.660632,95.822126,0.856503
2019-12-30,289.459991,292.690002,285.220001,291.519989,291.519989,36028600,280.746515,1,NaN,NaN,NaN,0.844283,0.929681,0.965036,0.835854,0.803953,0.667428,95.010062,0.912842
2019-12-31,289.929993,293.679993,289.519989,293.649994,293.649994,25201400,282.359450,1,1.000000,0.500000,1.000000,0.864467,0.926564,0.941478,0.849583,0.816861,0.675543,92.773576,0.987992
2020-01-02,296.239990,300.600006,295.190002,300.350006,300.350006,33870100,284.608270,1,1.000000,0.500000,1.000000,0.916134,0.972553,0.949389,0.880069,0.833952,0.733930,93.524586,0.992488
2020-01-03,297.149994,300.579987,296.500000,297.429993,297.429993,36580700,286.210985,1,0.500000,0.000000,0.500000,0.816965,0.965896,0.961922,0.889160,0.849643,0.714379,94.714419,0.893158
2020-01-06,293.790009,299.959991,292.750000,299.799988,299.799988,29596800,287.909610,1,NaN,NaN,NaN,0.838297,0.958503,0.972975,0.900178,0.864641,0.704706,95.763727,0.966130
2020-01-07,299.839996,300.899994,297.480011,298.390015,298.390015,27218000,289.219661,1,0.500000,0.000000,0.500000,0.791739,0.923046,0.955842,0.899153,0.876411,0.659666,94.137188,0.887646
2020-01-08,297.160004,304.440002,297.160004,303.190002,303.190002,33019800,290.965954,1,1.000000,0.500000,1.000000,0.836831,0.942844,0.947864,0.910763,0.888404,0.662770,93.379835,0.951700
2020-01-09,307.239990,310.429993,306.200012,309.630005,309.630005,42527100,293.298960,1,1.000000,0.500000,1.000000,0.884539,0.945810,0.943472,0.937967,0.904035,0.713549,92.962832,0.974898
2020-01-10,310.600006,312.670013,308.250000,310.329987,310.329987,35161200,295.427838,1,1.000000,0.500000,1.000000,0.889155,0.960606,0.956470,0.956688,0.920695,0.727897,94.196860,0.931398
2020-01-13,311.640015,317.070007,311.149994,316.959991,316.959991,30383000,298.119357,1,NaN,NaN,NaN,0.928144,0.975927,0.967919,0.989614,0.941329,0.783374,95.283773,0.997002
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1,0.500000,0.000000,0.500000,0.807358,0.936689,0.964763,0.994538,0.958929,0.741027,94.984096,0.858874
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1,0.500000,0.000000,0.500000,0.771804,0.895790,0.942332,0.987911,0.971539,0.671375,92.854598,0.810465
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1,1.000000,0.500000,1.000000,0.805234,0.872445,0.906521,0.990925,0.982295,0.645510,89.454770,0.927975
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1,1.000000,0.500000,1.000000,0.832147,0.920072,0.900770,1.000000,0.992914,0.643594,88.908861,0.999702
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1,NaN,NaN,NaN,0.774140,0.956085,0.921636,0.993650,1.000000,0.594287,90.889810,0.916950

In [51]:
df2 = df[['Close', 'MA15', 'Trend']].copy()
df2.tail()

                 Close        MA15  Trend
Date
2020-01-14  312.679993  299.939437      1
2020-01-15  311.339996  301.364507      1
2020-01-16  315.239990  303.098942      1
2020-01-17  318.730011  305.052826      1
2020-01-21  316.570007  306.492473      1

In [8]:
# RSI
RSI = ta.RSI(df.Close,14)

df["RSI"] = (RSI - RSI.min())/(RSI.max() - RSI.min())

#df["RSI"] = (RSI - RSI.rolling('1258 D').min())/(RSI.rolling('1258 D').max() - RSI.rolling('1258 D').min())

df.tail()

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend,UpTrend,DownTrend,Trendi,RSI
Date,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1,0.5,0.0,0.5,0.807358
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1,0.5,0.0,0.5,0.771804
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1,1.0,0.5,1.0,0.805234
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1,1.0,0.5,1.0,0.832147
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1,NaN,NaN,NaN,0.774140

In [11]:
# Stochastic K
df["Stoch_K"], df["Stoch_D"] = ta.STOCH(df["High"], df["Low"], df["Close"], fastk_period=14, slowk_period=3, slowk_matype=0, 
                                       slowd_period=3, slowd_matype=0)

Stoch_K = df["Stoch_K"]

df["Stoch_K"] = (Stoch_K - Stoch_K.min())/(Stoch_K.max() - Stoch_K.min())


Stock_D = df["Stock_D"]

df["Stock_D"] = (Stock_D - Stock_D.min())/(Stock_D.max() - Stock_D.min())

In [12]:
# MACD
df['MACD'], df['MACDSignal'], df['MACDHist'] = ta.MACD(df.Close, fastperiod= 12, slowperiod= 26, signalperiod= 9)

MACD = df['MACD']
df['MACD'] = (MACD - MACD.min())/(MACD.max() - MACD.min())

MACDSignal = df['MACDSignal']
df['MACDSignal'] = (MACDSignal - MACDSignal.min())/(MACDSignal.max() - MACDSignal.min())

MACDHist = df['MACDHist']
df['MACDHist'] = (MACDHist - MACDHist.min())/(MACDHist.max() - MACDHist.min())

In [13]:
# Williams R%
WILLR = ta.WILLR(df['High'], df['Low'], df['Close'], timeperiod=14) 

df["WILLR"] = (WILLR - WILLR.min())/(WILLR.max() - WILLR.min())
df

,Open,High,Low,Close,Adj Close,Volume,MA15,Trend,UpTrend,DownTrend,Trendi,RSI,Stoch_K,Stock_D,MACD,MACDSignal,MACDHist,Stoch_D,WILLR
Date,,,,,,,,,,,,,,,,,,,
2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437,1,0.5,0.0,0.5,0.807358,0.936689,0.964763,0.994538,0.958929,0.741027,94.984096,0.858874
2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507,1,0.5,0.0,0.5,0.771804,0.895790,0.942332,0.987911,0.971539,0.671375,92.854598,0.810465
2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942,1,1.0,0.5,1.0,0.805234,0.872445,0.906521,0.990925,0.982295,0.645510,89.454770,0.927975
2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826,1,1.0,0.5,1.0,0.832147,0.920072,0.900770,1.000000,0.992914,0.643594,88.908861,0.999702
2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473,1,NaN,NaN,NaN,0.774140,0.956085,0.921636,0.993650,1.000000,0.594287,90.889810,0.916950

In [31]:
df3 = df3.fillna(0)
#df.head()

In [41]:

df3 = df[['RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trend']].copy()

#df3 = df3.reset_index()

#df3 = df3.drop(['Date'], axis = 1)

df3 = df3.fillna(0)

df3.tail()

                 RSI   Stoch_K    Stoch_D      MACD     WILLR  Trend
Date
2020-01-14  0.807358  0.936689  94.984096  0.994538  0.858874      1
2020-01-15  0.771804  0.895790  92.854598  0.987911  0.810465      1
2020-01-16  0.805234  0.872445  89.454770  0.990925  0.927975      1
2020-01-17  0.832147  0.920072  88.908861  1.000000  0.999702      1
2020-01-21  0.774140  0.956085  90.889810  0.993650  0.916950      1

In [42]:
input_elm = df3[['RSI', 'Stoch_K', 'Stoch_D', 'MACD', 'WILLR', 'Trend']].as_matrix()
input_elm

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

Method .as_matrix will be removed in a future version. Use .values instead.

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       ...,
       [ 0.80523368,  0.87244521, 89.4547703 ,  0.9909246 ,  0.92797476,
         1.        ],
       [ 0.83214672,  0.9200725 , 88.90886093,  1.        ,  0.9997023 ,
         1.        ],
       [ 0.7741397 ,  0.95608498, 90.88980973,  0.99365011,  0.91694976,
         1.        ]])

In [43]:
X = input_elm[:,0:5]
Y = input_elm[:,5]

In [44]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(input_elm, Y, test_size=0.3)

In [47]:
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

In [48]:
print(X_train.shape, X_val.shape, X_test.shape, Y_train.shape, Y_val.shape, Y_test.shape)

(880, 6) (189, 6) (189, 6) (880,) (189,) (189,)