In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import talib as ta
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('AAPL.csv')
#df.index = df['Date']
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-22,110.260002,112.470001,109.720001,112.400002,103.275063,53796400
1,2015-01-23,112.300003,113.750000,111.529999,112.980003,103.807991,46464800
2,2015-01-26,113.739998,114.360001,112.800003,113.099998,103.918228,55615000
3,2015-01-27,112.419998,112.480003,109.029999,109.139999,100.279716,95568700
4,2015-01-28,117.629997,118.120003,115.309998,115.309998,105.948822,146477100

In [11]:
#Exponential Moving Average  
ema = ta.EMA(df.Close,15)
df['MA15'] = ema
df = df.fillna(0)
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,MA15
1253,2020-01-14,316.700012,317.570007,312.170013,312.679993,312.679993,40488600,299.939437
1254,2020-01-15,311.850006,315.500000,309.549988,311.339996,311.339996,30480900,301.364507
1255,2020-01-16,313.589996,315.700012,312.089996,315.239990,315.239990,27207300,303.098942
1256,2020-01-17,316.269989,318.739990,315.000000,318.730011,318.730011,34454100,305.052826
1257,2020-01-21,317.190002,319.019989,316.000000,316.570007,316.570007,27664200,306.492473

In [19]:
df2 = df[['Date', 'Close', 'MA15']].copy()

df2.index = df['Date']

df2 = df2.drop(["Date"], axis=1)


df2.tail()

                 Close        MA15
Date
2020-01-14  312.679993  299.939437
2020-01-15  311.339996  301.364507
2020-01-16  315.239990  303.098942
2020-01-17  318.730011  305.052826
2020-01-21  316.570007  306.492473

In [27]:
s = df2.ix[:,1]
s

C:\Users\JMadd\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Date
2015-01-22      0
2015-01-23      0
2015-01-26      0
2015-01-27      0
2015-01-28      0
2015-01-29      0
2015-01-30      0
2015-02-02      0
2015-02-03      0
2015-02-04      0
2015-02-05      0
2015-02-06      0
2015-02-09      0
2015-02-10      0
2015-02-11    117
2015-02-12    118
2015-02-13    119
2015-02-17    120
2015-02-18    121
2015-02-19    122
2015-02-20    123
2015-02-23    124
2015-02-24    125
2015-02-25    125
2015-02-26    126
2015-02-27    126
2015-03-02    127
2015-03-03    127
2015-03-04    127
2015-03-05    127
             ...
2019-12-06    263
2019-12-09    264
2019-12-10    264
2019-12-11    265
2019-12-12    266
2019-12-13    267
2019-12-16    268
2019-12-17    270
2019-12-18    271
2019-12-19    272
2019-12-20    273
2019-12-23    274
2019-12-24    275
2019-12-26    277
2019-12-27    279
2019-12-30    280
2019-12-31    282
2020-01-02    284
2020-01-03    286
2020-01-06    287
2020-01-07    289
2020-01-08    290
2020-01-09    293
2020-01-10    295
2020-01-13    298
2020-01-14    299
2020-01-15    301
2020-01-16    303
2020-01-17    305
2020-01-21    306
Name: MA15, Length: 1258, dtype: int64

In [24]:
#s=df2[['Close']].shift(4,freq='D')
#s=pd.merge_asof(df2,s,left_index=True,right_index=True,tolerance=pd.Timedelta('5d'),direction='forward')
#np.sign(s['COL_x']-s['COL_y'])

df2['trend'] = df2['Close'].rolling('5d').apply(lambda x: np.sign(x[-1] - x[0]))

ValueError: window must be an integer

In [ ]:
N = 5
df['Uptrend'] = ''
for index,row in df.iterrows():
    if (df.loc[index-N:index,"EMA"] > df.loc[index-N:index,"EMA"].shift(-1)):
        df.loc[index, 'Uptrend'] = "Uptrend"
    elif (df.loc[index-N:index,"EMA"] < df.loc[index-N:index,"EMA"].shift(-1)):
        df.loc[index, 'Uptrend'] = "Downtrend"
    elif (df.loc[index-N:index,"EMA"] == 0):
        df.loc[index, 'Uptrend'] = "Notrend"  
    else:
        df.loc[index, 'Uptrend'] = "Notrend"

In [ ]:
if df['close'] > df['EMA'] and df['EMA'] > df['EMA'].shift(-1) and df['EMA'].shift(-1) > df['EMA'].shift(-2) and df['EMA'].shift(-2) > df['EMA'].shift(-3):
    df['trend'] = 1
else:
    df['trend'] = 0

In [ ]:
min_cp =